<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/css/uikit.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/js/uikit-icons.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <div class="nav">
      <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-center">
          <div>
            <div class="uk-margin" >
              <label class="uk-form-label" for="form-stacked-select">도·시</label>
              <div class="uk-form-controls">
                  <select class="uk-select" id="form-stacked-select">
                      <option>Option 01</option>
                      <option>Option 02</option>
                  </select>
              </div>
            </div>
            <div class="uk-margin">
              <label class="uk-form-label" for="form-stacked-select">시·군·구</label>
              <div class="uk-form-controls">
                  <select class="uk-select" id="form-stacked-select">
                      <option>Option 01</option>
                      <option>Option 02</option>
                  </select>
              </div>
            </div>
            <div class="uk-margin">
              <label class="uk-form-label" for="form-stacked-select">읍·면·동</label>
              <div class="uk-form-controls">
                  <select class="uk-select" id="form-stacked-select">
                      <option>Option 01</option>
                      <option>Option 02</option>
                  </select>
              </div>
            </div>
            <button class="uk-button uk-button-primary">보기</button>
          </div>
        </div>
      </nav>
      <ul class="uk-breadcrumb" style="text-align: center;">
        <li class="uk-disabled"><a>경기도 용인시기흥구 기흥동</a></li>
        <li><span>ⓘ 2021년 02월 15일(월) 12:30</span></li>
      </ul>
    </div>
    

    <div class="main">
      <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <h3 class="uk-card-title">Default</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light">
                <h3 class="uk-card-title">Primary</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light">
                <h3 class="uk-card-title">Secondary</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>

        <div>
          <div class="uk-card uk-card-default uk-card-hover uk-card-body">
              <h3 class="uk-card-title">Default</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
      </div>
    </div>
    </div>

  </body>
</html>
